<div class="discord">
    <div class="chat"></div>
    <div class="message"></div>
    <button ng-click="roomController.sendMessage()">Send</button>
</div>
<div class="game">
    <div class="played">
        <p class="turn">{{gameController.turn}}</p>
        <p class="score">{{gameController.score}}</p>
        <p class="userA">{{user.username}}</p>
        <p class="userA">{{user.username}}</p>
        <p class="userB">{{user.username}}</p>
        <p class="userD">{{user.username}}</p>
        <div class="playedCards"></div>
    </div>
    <div class="cards">
        <div class="cardsInHand"></div>
    </div>
</div>